PORT=3000

DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=psixolog
DB_PASSWORD=psixolog2024
DB_DATABASE=maktab_psixolog_db

JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=7d

TELEGRAM_BOT_TOKEN=
TELEGRAM_MINI_APP_URL=

ANTHROPIC_API_KEY=
